$header-color: rgba(18, 25, 32, 1);
$placeholder-color: rgba(187, 196, 214, 1);
$paragraph-color: rgba(118, 130, 152, 1);

$breakpoint-note: 1440px;
$breakpoint-notebook: 1024px;
$breakpoint-table: 768px;
$breakpoint-mobile-l: 425px;
$breakpoint-mobile-m: 375px;
$breakpoint-mobile-s: 320px;